/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*font*/
body {
    font-family: 'Lato', Tahoma, sans-serif;
}
/*container*/
.container {
    width: 1020px;
    margin: 0 auto;
}
/*header*/
header {
    height: 89px;
    background: #2d303a;
    border-bottom: 6px solid #323746;
    font-weight: 700;
}
.logo {
    color: #ffffff;
    font-size: 25px;
    line-height: 89px;
}
.logo:after {
    content: '*';
    font-size: 25px;
    color: #f06c64;
}
/*slider*/
.slider {
    background: #f06c64;
    height: 594px;
    border-bottom: 6px solid #ea676b;
}
/*features*/
.features {
    background: #f2f2f2;
    height: 494px;
    border-bottom: 6px solid #ffffff;
}
/*works*/
.works {
    height: 863px;
    background: #2d303a;
    border-bottom: 6px solid #323746;
}
/*about*/
.about {
    background: #f2f2f2;
    height: 728px;
    border-bottom: 6px solid #ffffff;
}
/*contacts*/
.contacts {
    background: #f06c64;
    height: 648px;
    border-bottom: 6px solid #ea676b;
}
/*footer*/
footer {
    height: 76px;
    background: #2d303a;
}